---
import logo from "@images/logo.png";
import { Image } from "astro:assets";
import ThemeIcon from "./ThemeIcon.astro";
import { Icon } from 'astro-icon';
import { Navbar as BoostNavbar, Nav } from 'astro-bootstrap';
import type { NavbarItemType } from 'astro-bootstrap';
import { AppConfig } from "@utils/AppConfig";
import DarkModeToggle from './DarkModeToggle.astro';

const items: NavbarItemType[] = [
  // pull this in from a config file
  { text: 'Home', href: '#' },
  { text: 'About', href: '#' },
  {
    text: 'Dropdown',
    subItems: [
      { text: 'First child', href: '#' },
      { divider: true },
      { text: 'Second child', href: '#' },
    ],
  },
];

const id = 'navbar';
---
<BoostNavbar class=" navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{AppConfig.site_name}</a>
    <BoostNavbar.Toggler controls={id} />
    <BoostNavbar.Collapse id={id}>
      <BoostNavbar.Nav class="me-auto mb-2 mb-lg-0">
        { AppConfig.mainMenu.map(item => (
        <Nav.Item href={item.href}>{item.text}</Nav.Item>
      ))}
      </Navbar.Nav>
      <ul class="navbar-nav">
        <li class="nav-item col-6 col-lg-auto">
          <a
            class="nav-link d-flex py-2 px-0 px-lg-2 "
            href={AppConfig.repository}
            target="_blank"
            rel="noopener"
          >
            <Icon name="bi-github" class="navbar-nav-svg" />
            <small class="d-lg-none ms-2">GitHub</small>
          </a>
        </li>
        <li class="nav-item col-6 col-lg-auto">
          <DarkModeToggle class="nav-link d-flex"/>
        </li>
      </ul>
    </Navbar.Collapse>
  </div>
</BoostNavbar>
<style lang="scss">
  .navbar-nav-svg {
    display: inline-block;
    vertical-align: -0.125rem;
    height: 2.5rem;
    width: 2.5rem;
  }
</style>
<script></script>